/* ------ AVENTURE NON PRÉCISÉE ------ */

.choixAv{
	position: relative;
	width: 250px;
	height: max-content;
	margin: 30px auto;
	padding: 30px;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(83, 84, 93, 0.79);
    box-shadow: 2px 2px 30px 3px rgba(0,0,0,0.5);
    border: 1.5px solid black;
    border-radius: 5px;
}

.titreAv{
	background-color: rgba(40,40,50, 0.6);
}

.goAv{
    display: block;
    position: relative;
    padding: 7px 20px;
    margin: 15px auto 0 auto;
    color: black;
    font-size: 0.6em;
    font-style: initial;
    font-weight: initial;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset -5px -5px 20px 1px rgba(0,0,0,0.2);
    background-color: #707070;
    cursor: pointer;
   }

.goAv a{
	pointer-events: none;
}

.goAv:hover{
	box-shadow: none;
}

.joinPerso{
	display: none;
	position: absolute;
	top: -74px;
	left: -13%;
	width: 109%;
	min-height: 122px;
    padding: 7px 20px;
    color: black;
    font-style: initial;
    font-weight: initial;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: inset -5px -5px 20px 1px rgba(0,0,0,0.2);
    background-color: #b8ae80;
	opacity: 0;
	cursor: initial;
}

.joinPerso li{
	display: block;
}

/* ------ GRID DES MESSAGES ------ */
#gridAv{
	display: grid;
	margin: auto 3% auto 5%;
	position: relative;
	grid-template-columns: 120px 1fr 200px;
}

.writerAvatarSlider{
	margin: 60px 0 80px 0;
}

.writerAvatar{
	position: sticky;
	top: 100px;
	height: max-content;
	background-size: cover;
	border: 1.5px solid rgb(0, 0, 0);
	border-right: none;
	border-radius: 10px 0 0 10px;
	box-shadow: 0px 0px 10px black;
	z-index: 10;
}

.layer.desktop{
	height: 130px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 10px;
	border-radius: 10px 0 0 10px;
	opacity: 0;
	transition: 0.3s;
	text-align: center;
	font-size: 0.9em;
}

@media (min-width: 720px){
	.writerAvatar:hover .layer{
		opacity: 1;
		transition: 0.3s;
	}
}

.msg{
	min-height: 100px;
	margin: 10px 0 30px 0;
	padding: 25px;
    background-color: rgba(178, 192, 180, 0.43);
	border: 1.5px solid black;
	border-radius: 6px;
	box-shadow: inset -2px -2px 50px rgb(4, 54, 8);
	z-index: 20;
}

.msgGM{
    background-color: rgba(162, 162, 162, 0.58);
	box-shadow: inset -2px -2px 50px rgb(80, 75, 40);
}

.msgGM img{
	width: 90%;
	height: auto;
}

.fixInfo{
	position: sticky;
	height: max-content;
	text-overflow: hidden;
	background-color: rgba(200,200,200,0.2);
	box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.4);
	margin: 50px 0 0 35px;
	padding: 10px;
	top: 100px;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	z-index: 30;
}

.infoPersoCoterie-logo{
	display: inline-block;
	position: relative;
}

.infoPersoCoterie{
	display: none;
	position: absolute;
	right: 28px;
	top : 18px;
	width: 200px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	background-color: lightgrey;
	box-shadow: 3px 3px 30px 1px rgba(0,0,0,0.4);
	z-index: 40;
}

.infoPersoCoterie-logo:hover .infoPersoCoterie{
	display: initial;
} 


/* ------ MCE TEXT AREA ------ */


#mceMainContainer{
	position: relative;
	margin: 50px 0;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid black;
	box-shadow: 2px 2px 30px 1px rgba(0,0,0,0.5);
}

#mceMainContainer input[type='submit']{
	display: inline-block;
	border: none;
	margin: 0 !important;
	padding: 20px;
	width: 100%;
	font-weight: bold;
}


/*----------- MOBILE -----------*/


@media (max-width: 720px){

	#gridAv{
		grid-template-columns: 1fr;
		width: 100%;
		margin: 0;
	}

	.writerAvatarSlider{
		position: relative;
		margin: 0;
	}

	.writerAvatar{
		position: absolute;
		border: 0;
		top: -15px;
		left: 5vw;
		width: 70px;
		height: 70px;
		background-size: cover;
		border-radius: 40px;
		box-shadow: 0px 0px 10px black;
		z-index: 400;
	}

	.layer.mobile{
		position: relative;
		pointer-events: none;
		opacity: 1;
		border-radius: 10px;
		height: 87%;
		background-color: rgba(0,0,0,0.5);
		color: white;
		padding: 8%;
		font-size: 1em;
		text-align: left;
		display: none;
	}

	.croixAvatar{
		pointer-events: auto;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 30px;
	}

	.layer.mobile .nomPerso{
		text-decoration: underline;
		font-weight: bold;
		font-size: 1.3em;
	}

	.layer.mobile table.carac{
		float: right;
	}

	.layer.mobile td{
		text-align: right;
	}

	.layerBox{
		margin: 8px auto;
	}
	.layerBottom{
		margin: 25px auto;
	}

	.msg-logo{
		width: 60px;
		position: absolute;
		right: 20px;
		bottom: 10px
	}

	.msg{
		position: relative;
		margin: 0;
		padding: 70px 25px 30px 25px;
		border: none;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-radius:0;
	}

	.dateMsg{
		position: absolute;
		top: 20px;
		right: 30px;
		color: rgb(55,55,55);
		font-style: italic;
	}

	/* ------ MCE TEXT AREA ------ */

	#mceMainContainer{
		margin: 50px 0;
		border-radius: 0;
		overflow: hidden;
		border: 1px solid black;
		box-shadow: 0;
	}

}