section{
	text-align: center;
}

.ventreBox{
	width: 80%;
	margin: 30px auto;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(78, 85, 86,0.5);
	overflow: auto;
}

.titre{
	width: 85%;
	margin: 70px auto 40px auto;
	padding: 10px;
	font-size: 1.8em;
	color: rgb(223, 213, 213);
	background-color: rgba(0,0,0, 0.4);
	border-radius: 5px;
}

.soustitre{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 25px auto;
	font-size: 1.3em;
	background-color: rgba(78, 85, 86,0.9);
	color: lightgrey;
}

#formBases tr{
	height: 40px;
}

#formBases img{
	width: 20px;
}

#formBases td{
	position: relative;
}

.helpDiv{
	position: absolute;
	width: 200px;
	text-align: left;
	background-color: lightgrey;
	padding: 5px;
	border: 1px solid black;
	left: 25px;
	top: 25px;
}

.selectBox{
	margin: 10px auto 0 auto;
	padding: 5px;
	overflow: auto;
}

.selectBox select{
	min-width: 200px;
	height: 30px;
	margin: 5px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	text-align-last: center;
	background-color: grey;
	border-radius: 4px;
}

.descriptionBox{
	height: 150px;
	margin:  10px 10% 20px 10%;
	padding: 12px 20px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: rgba(217, 217, 217, 0.18);
	overflow: auto;
}

.addBox{
	min-height: 200px;
	margin: 20px 10%;
	border: 1.5px solid black;
	background-color: rgba(200,200,200,0.8);
}

.addBox textarea{
	height: 100px;
	width: 400px;
	max-width: 80%;
}

.addBox input{
	width: 200px;
	max-width: 80%;
	}
	
/*---T'AS QUOI DANS LE VENTRE---*/

.displayCarac{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
}

#totalCarac{
	display: inline-block;
	margin: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
	background-color: lightgrey;
	color: blue;
}


table{
	display: inline-block;
}

form td{
	text-align: right;
}


#submitAll{
	width: 40%;
	min-width: 200px;
	margin: 20px auto;
	padding: 10px;
	font-size: 1.2em;
	color: black;
	background-color: grey;
	border: 3px solid black;
	border-radius: 5px;
}

#descriptionLore{
	width: 60%;
	border: 2px solid black;
	border-radius: 3px;
	margin: 20px auto;
	padding: 20px;
	background-color: #4e5556;
}

#lore{
	width: 80%;
	margin: 20px auto 5px auto;
	height: 100px;
}

@media (max-width: 760px){

	.ventreBox{
		width: 100%;
	}
	.titre{
		width: 100%;
		margin-left: 0;
		padding-left: 0
	}
	#descriptionLore{
		width: 80%;
	}
}