section{
	text-align: center;
}

.titre{
	width: 85%;
	margin: 70px auto 40px auto;
	padding: 10px;
	font-size: 1.8em;
	color: rgb(223, 213, 213);
	background-color: rgba(0,0,0, 0.4);
	border-radius: 5px;
}

.soustitre{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 25px auto;
	font-size: 1.3em;
	background-color: rgba(78, 85, 86,0.9);
	color: lightgrey;
}

#formBases tr{
	height: 40px;
}

#formBases img{
	width: 20px;
}

#formBases td{
	position: relative;
}

.helpDiv{
	position: absolute;
	width: 1000%;
	text-align: left;
	background-color: lightgrey;
	padding: 5px;
	border: 1px solid black;
	left: 25px;
	top: 25px;
}


/*---CHOIX CLAN---*/

#clanBox{
	display: grid;
	grid-template-columns: 40% 60%;
	width: 95%;
	height: calc(500px - 10vw);

}

/*A GAUCHE*/

#logoBox{
	height: min-content;
	max-height: calc(710px - 20vw);
	padding-top: 2vw;
	overflow: auto;
	margin: auto;
	padding: 0 10px;
	
}

.logoClan{
	display: inline-block;
	width: 70px;
	height: 70px;
	background-size: 85% 85%;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: inset 0 0 10px 1px black;
}

/*A DROITE*/

.infoClan{
	width: 95%;
	border: 2px solid black;
	border-radius: 3px;
	padding: 10px;
	background-color: #4e5556;
	overflow: auto;
}

/*Cache la scroll bar du infoClan*/
.infoClan::-webkit-scrollbar {
    width: 5px;
}

.infoClan img{
	width: 150px;
	display: inline-block;
	float: left;
	border: 2px solid black;
	border-radius: 6px;
	margin: 0 5px;
}

.infoClan h1{
	margin: 5px 0 10px 30px;
	padding: 5px;
	color: black;
	background-color: grey;
	border-radius: 5px;
}


/*---T'AS QUOI DANS LE VENTRE---*/

.displayCarac{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
}

#totalCarac{
	display: inline-block;
	margin: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
	background-color: lightgrey;
	color: blue;
}

.ventreBox{
	width: 60%;
	margin: 30px auto;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(78, 85, 86,0.5);
	overflow: auto;
}

table{
	display: inline-block;
}

form td{
	text-align: right;
}

.logoDisc{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 1.2em;
	margin: 10px;
	padding: 0 15px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: inset 0 0 10px 1px black;
}

#logoDiscGen{
	position: absolute;
	margin: 0;
	top: 0;
	right: 0;
	border-radius: 0;
	height: 30px;
	line-height: 30px;
	border: none;
	box-shadow: none;
	border-radius: 10px;
}

.infoDisc{
	position: relative;
	width: 70%;
	height: calc(280px - 10vw);
	margin: 20px auto 40px auto;
	padding: 10px;
	border: 2px solid black;
	border-radius: 3px;
	background-color: #515151;
	overflow: auto;
	overflow: auto;
}

h4{
	margin: 0px;
	padding: 0px;
}

/*Cache la scroll bar du infoDisc*/
.infoDisc::-webkit-scrollbar {
    width: 5px;
}


#submitAll{
	width: 40%;
	min-width: 200px;
	margin: 20px auto;
	padding: 10px;
	font-size: 1.2em;
	color: black;
	background-color: grey;
	border: 3px solid black;
	border-radius: 5px;
}

#descriptionLore{
	width: 60%;
	border: 2px solid black;
	border-radius: 3px;
	margin: 20px auto;
	padding: 20px;
	background-color: #4e5556;
}

#lore{
	width: 80%;
	margin: 20px auto 5px auto;
	height: 100px;
}

@media (max-width: 760px){

	.ventreBox{
		width: 100%;
	}
	.titre{
		width: 100%;
		margin-left: 0;
		padding-left: 0
	}
	#descriptionLore{
		width: 80%;
	}
	#clanBox{
		display: initial;
	}
	#logoBox{
		padding: 0;
	}
	.infoClan{
		width: 90%;
		margin: auto;
	}
}