section{
	text-align: center;
}


h3{
	background-color: rgb(57, 57, 57);
    width: 100%;
    margin: 0;
    padding: 5px 0;
    color: #ffffff;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.saving{
	font-size: 30px;
}

.ventreBox{
	width: 80%;
	margin: 30px auto;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(78, 85, 86,0.5);
	overflow: auto;
}

.selectAttribute{
	text-transform: capitalize;
}

.titre{
    width: 100%;
    margin: 70px auto 0 auto;
    padding: 3px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    background-color: rgba(141, 139, 139, 0.4);
    border-radius: 5px;
    border-bottom: 3px solid black;
}

.selectBigContainer{
    background-color: rgba(200, 200, 200, 0.5);
    padding: 10px 8px;
    margin: 15px;
    line-height: 2em;
    border-radius: 5px;
    border: 1px solid black;
}

.selectBigContainer.current{
	background-color: rgb(78, 125, 88);
}

.helper{
	width: 70%;
    background-color: rgb(78, 125, 88);
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 3px 3px 19px 0px rgba(0, 0, 0, 0.41);
    margin: 30px auto 30px auto;
    padding: 3px 15px;
}

.soustitre{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 25px auto;
	font-size: 1.3em;
	background-color: rgba(78, 85, 86,0.9);
	color: lightgrey;
}

#formBases tr{
	height: 40px;
}

#formBases img{
	width: 20px;
}

#formBases td{
	position: relative;
}

.helpDiv{
	position: absolute;
	width: 200px;
	text-align: left;
	background-color: lightgrey;
	padding: 5px;
	border: 1px solid black;
	left: 25px;
	top: 25px;
}

.caracBox input[type="text"]{
	margin: 5px;
	border-radius: 5px;
	padding: 2px 4px;
}

.chooseIcon{
	width: 20px;
	height: 20px;
	display: inline-block;
	padding: 2px;
	border: 1px solid black;
	background-color: grey;
	border-radius: 3px;
	background-size: cover;
}

.selectContainer{
	margin: auto;
	overflow: auto;
}

.selectBox{
    width: 80%;
    height: 40px;
    margin: 5px 10% 0 10%;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-align-last: center;
    background-color: #565656;
    border-radius: 4px 4px 0 0;
    border: 1.5px solid black;
    border-bottom: none;
    cursor: pointer;
    font-weight: bold;
}

.selectBox.editArea{
    width: calc(80% - 3px);
    cursor: text;
}

.descriptionBox{
    display: block;
    height: 150px;
    width: calc(80% - 43px);
    margin: 0 10% 15px 10%;
    padding: 12px 20px;
    border: 1.5px solid black;
    border-top: 1px solid black;
    border-radius: 0 0 4px 4px;
    background-color: rgba(0, 0, 0, 0.27);
    overflow: auto;
}

.selectBox, .descriptionBox{
    background-color: rgba(200,200,200,0.8);
    box-shadow: 3px 2px 14px 2px #00000047;
    color: black;
}

.editArea{
    background-color: rgb(207, 207, 207);
    resize: vertical;
    color: black;
    outline: none;
}

.univDescription, .regles{
    margin: 0 0 20px 0;
    height: 250px;
    padding: 15px;
    overflow: auto;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.34);
    box-shadow: inset 0px 0px 20px 0px #00000066;
    font-style: italic;
}

.univDescription.editArea, .regles.editArea{
	width: calc(100% - 32px);
    background-color: rgba(255, 255, 255, 0.34);
}

.addBox{
	position: relative;
	margin-top: 15px;
    padding: 0 0 1px 0;
    border-top: 1px solid black;
    background-color: rgba(0, 0, 0, 0.28);
    color: #c7c7c7;
}

.addBox .addTitle{
	display: flex;
    color: #c2c2c2;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
    align-items: center;
    justify-content: center;
}

.addBox .addTitle:hover{
	color: white;
}

.addLabel{
	line-height: 30px;
	display: inline-block;
	margin: 2px 20px;
	max-width: calc(100% - 130px);
}

.addBox .addIcone, .addBox .upArrow{
	display: inline-block;
	padding: 1px;
	margin: 1px;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.addBox .addIcone{
    background-image: url(../img/icones/add.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.addBox .upArrow{
    background-image: url(../img/icones/arrowUP.png);
}

.addBox input, .addBox textarea{
	border-radius: 4px;
}

.addBox textarea{
	padding: 10px;
	height: 100px;
	width: 80%;
	resize: vertical;
}

.addBox input{
	width: 200px;
	max-width: 80%;
	margin: 5px 0;
	text-align: center;
	}

.update_button {
	width: 200px;
	padding: 2px 5px;
	margin: 5px auto;
	border: 1px solid black;
	border-radius: 3px;
	background-color: #ffffff94;
}

/*---T'AS QUOI DANS LE VENTRE---*/

.displayCarac{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
}

#totalCarac{
	display: inline-block;
	margin: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
	background-color: lightgrey;
	color: blue;
}


table{
	display: inline-block;
}

form td{
	text-align: right;
}


#submitAll{
	width: 40%;
	min-width: 200px;
	margin: 20px auto;
	padding: 10px;
	font-size: 1.2em;
	color: black;
	background-color: grey;
	border: 3px solid black;
	border-radius: 5px;
}

#descriptionLore{
	width: 60%;
	border: 2px solid black;
	border-radius: 3px;
	margin: 20px auto;
	padding: 20px;
	background-color: #4e5556;
}

#lore{
	width: 80%;
	margin: 20px auto 5px auto;
	height: 100px;
}

@media (max-width: 720px){

	.selectBigContainer{
		font-size: 0.8em;
	}


	.selectBox{
		border: none;
		border-bottom: 1px solid black;
		border-radius: 0;
		width: 100%;
		margin: 0;
	}
	.descriptionBox{
		border: none;
		border-radius: 0;
		width: calc(100% - 43px);
		margin: 0 0 20px 0;
		box-shadow: inset 3px 2px 14px 0px #00000047;
	}

	.helper{
		width: calc(100% - 30px);
		margin: 0;
		border: none;
		border-radius: 0;
	}

	.ventreBox{
		margin: 0;
		width: 100%;
	}
	.titre{
		width: 100%;
		margin-left: 0;
		padding-left: 0
	}
	#descriptionLore{
		width: 80%;
	}
}