/* ------ AVENTURE NON PRÉCISÉE ------ */

.choixAv{
	width: 250px;
	margin: 30px auto;
	padding: 30px;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(83, 84, 93, 0.79);
    box-shadow: 2px 2px 30px 3px rgba(0,0,0,0.5);
    border: 1.5px solid black;
    border-radius: 5px;
}

.goAv{
    display: block;
    width: max-content;
    padding: 7px 20px;
    margin: 15px auto 0 auto;
    color: black;
    font-size: 0.6em;
    font-style: initial;
    font-weight: initial;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset -5px -5px 20px 1px rgba(0,0,0,0.2);
    background-color: #707070;
    cursor: pointer;
   }

.goAv:hover{
	box-shadow: none;
}

.titreAv{
	background-color: rgba(40,40,50, 0.6);
}


/* ------ GRID DES MESSAGES ------ */
#gridAv{
	display: grid;
	width: 85%;
	margin: auto 10% auto 5%;
	position: relative;
	grid-template-columns: 140px 1fr 160px;
}

.writerInfoSlider{
	margin: 60px 0 80px 0;
}

.writerInfo{
	position: sticky;
	top: 100px;
	height: max-content;
	background-size: cover;
	border: 2px solid black, 0, 0, 0;
	border-radius: 10px 0 0 10px;
	box-shadow: 0px 0px 10px black;
	z-index: 10;
}

.layer{
	width: 120px;
	height: 160px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 10px;
	border-radius: 10px 0 0 10px;
	opacity: 0;
	transition: 0.3s;
}

.writerInfo:hover .layer{
	opacity: 1;
	transition: 0.3s;
}

.msg{
	min-height: 500px;
	margin: 10px 0 30px 0;
	padding: 25px;
    background-color: rgba(178, 192, 180, 0.43);
	border: 1.5px solid black;
	border-radius: 6px;
	box-shadow: inset -2px -2px 50px rgb(4, 54, 8);
	z-index: 20;
}

.msgGM{
    background-color: rgba(162, 162, 162, 0.58);
	box-shadow: inset -2px -2px 50px rgb(80, 75, 40);
}

.fixInfo{
	position: sticky;
	width: 150px;
	height: max-content;
	overflow: hidden;
	text-overflow: hidden;
	background-color: rgba(200,200,200,0.2);
	box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.4);
	margin: 50px 0 0 50px;
	padding: 10px;
	top: 100px;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
}