section{
	text-align: center;
}


#ficheContainer{
	display: grid;
	width: 80%;
	margin: auto;
	grid-template-columns: 30% 70%;
}

.ficheBox{
	padding: 20px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 3px;
	background-color: #4e5556;
	overflow: auto;	
}

.ficheBox img{
	width: 150px;
	display: inline-block;
	float: left;
	border: 2px solid black;
	border-radius: 6px;
	margin: 0 5px;
}



/*---CARACTERISTIQUES---*/

.soustitre{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 25px auto;
	font-size: 1.3em;
	background-color: rgba(78, 85, 86,0.9);
	color: lightgrey;
}

.displayCarac{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
}


table{
	display: inline-block;
}

form td{
	text-align: right;
}

/*---DISCIPLINES---*/

.infoDisc{
	position: relative;
	width: 90%;
	margin: 20px auto 20px auto;
	padding: 20px;
	border: 2px solid black;
	border-radius: 3px;
	background-color: #515151;
	overflow: auto;
}


/*---HISTOIRE---*/



/*---MEDIA QUERIES---*/


@media (max-width: 1080px){

	#ficheContainer{
		width: 90%;
		display: initial;
	}

}

@media (max-width: 760px){

	#ficheContainer{
		width: 100%;
		display: initial;
	}

}


