section{
	text-align: center;
}

#sectionGrid{
	display: grid;
	grid-template-columns: auto 55% auto;
	grid-template-areas: 
	"msgInfo msg userInfo";
	grid-auto-rows: minmax(200px, min-content);
}

.msgInfo{
	grid-area: msgInfo;
	width: 95px;
	margin: 30px 10px 30px auto;
	padding: 10px;
	border: 1.5px solid black;
	border-radius: 5px;
}

.msg{
	grid-area: msg;
	margin: 30px 10px 30px 10px;
	padding: 10px;
	background-color: rgba(3, 33, 2, 0.5);
	text-align: center;
	border: 1.5px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 50px black;
	color: grey;
}

.userInfo{
	grid-area: userInfo;
	width: 95px;
	margin: 30px auto 30px 10px;
	padding: 10px;
	border: 1.5px solid black;
	border-radius: 5px;
	color: grey;
}

@media (max-width: 760px){

	#sectionGrid{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 80px; 1fr;
		grid-template-areas: 
		"mobileInfo mobileInfo mobileInfo"
		"msg msg msg"; 
		grid-auto-rows: minmax(200px, min-content);
	}

	.msgInfo{
		display: none;
	}

	.msg{
		margin: 10px;
	}

	.userInfo{
		display: none;
	}

	.mobileInfo{
		display: initial;
		grid-area: mobileInfo;
		margin: 30px 10px 10px 10px;
		padding: 10px;
		background-color: rgba(91, 91, 91, 0.5);
		text-align: center;
		border: 1.5px solid black;
		border-radius: 5px;
		box-shadow: 0px 0px 50px black;
		color: grey;
	}