section{
	text-align: center;
}

#sectionGrid{
	display: grid;
	grid-template-columns: 15vw auto 15vw;
}

.msgInfo{
	width: 95px;
	height: 120px;
	margin: 15px 2vw 30px auto;
	padding: 10px;
	border: 1.5px solid black;
	border-radius: 5px;
	background-color: rgba(50, 50, 50, 0.3);
	box-shadow: 0px 0px 10px black
}

.msg{
	position: relative;
	margin: 30px 10px 30px 10px;
	padding: 10px;
	background-color: rgba(3, 33, 2, 0.5);
	text-align: center;
	border: 1.5px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 50px black;
	color: grey;
}

/*BUBBLE ARROW*/
@media (min-width: 760px){
	.msg:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  left: -15px;
		right: auto;
	  top: -1px;
		bottom: auto;
		border: 13px solid;
		border-color: black transparent transparent transparent;
	}
	.msg:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  left: -10px;
		right: auto;
	  top: 1px;
		bottom: auto;
		border: 10px solid;
		border-color: rgb(56, 76, 59) transparent transparent transparent;
	}
}
/*END BUBBLE ARROW*/

.userInfo{
	position: fixed;
	width: 8vw;
	padding: 10px;
	top: 250px;
	right: 10%;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
}

@media (max-width: 760px){

	#sectionGrid{
		grid-template-columns: 1fr;
	}

	.msgInfo{
		display: none;
	}

	.msg{
		margin: 10px 20px;
	}

	.userInfo{
		display: none;
	}

	.mobileInfo{
		display: initial;
		height: 30px;
		margin: 30px 20px 10px 20px;
		padding: 10px;
		background-color: rgba(91, 91, 91, 0.5);
		text-align: center;
		border: 1.5px solid black;
		border-radius: 5px;
		box-shadow: 0px 0px 50px black;
		color: black;
	}