section{
	text-align: center;
}

#sectionGrid{
	display: grid;
	grid-template-columns: auto 55% auto;
	grid-auto-rows: minmax(200px, min-content);
}

.msgInfo{
	width: 95px;
	margin: 30px 10px 30px auto;
	padding: 10px;
	border: 1.5px solid black;
	border-radius: 5px;
}

.msg{
	margin: 30px 10px 30px 10px;
	padding: 10px;
	background-color: rgba(3, 33, 2, 0.5);
	text-align: center;
	border: 1.5px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 50px black;
	color: grey;
}

.userInfo{
	width: 95px;
	margin: 30px auto 30px 10px;
	padding: 10px;
	border: 1.5px solid black;
	border-radius: 5px;
	color: black;
}

@media (max-width: 760px){

	#sectionGrid{
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, min-content);
	}

	.msgInfo{
		display: none;
	}

	.msg{
		margin: 10px 20px;
	}

	.userInfo{
		display: none;
	}

	.mobileInfo{
		display: initial;
		height: 30px;
		margin: 30px 20px 10px 20px;
		padding: 10px;
		background-color: rgba(91, 91, 91, 0.5);
		text-align: center;
		border: 1.5px solid black;
		border-radius: 5px;
		box-shadow: 0px 0px 50px black;
		color: black;
	}