section{
	text-align: center;
}

#sectionGrid{
	display: grid;
	grid-template-columns: 15vw auto 15vw;
}

h1{
	grid-column: 1/4;
}

.choixAventure{
	width: 300px;
	padding: 20px 20px 0px 20px;
	margin: 40px auto 5px auto;
	color: white;
	font-size: 1.5em;
	background-color: #4e5556;
	border: 1px solid black;
	box-shadow: 3px 3px 20px 1px black;
	border-radius: 5px;
}

.goAv{
	display: block;
	width: max-content;
	padding: 7px 20px;
	margin: 15px auto;
	color: black;
	font-size: 0.6em;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: inset -5px -5px 30px 1px rgba(0,0,0,0.2);
	background-color: #707070;
	cursor: pointer;
}

.goAv:hover{
	box-shadow: none;
}

.pagination{
	color:white;
	margin: 30px;
}

.pagination a{
	color:white;
}

.msgInfo{
	height: max-content;
	background-size: cover;
	margin: 20px 2vw 30px auto;
	border: 1.5px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 10px black
}

.layer{
	width: 95px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: 0.3s;
}

.msgInfo:hover .layer{
	opacity: 1;
	transition: 0.3s;
}

.layer a{
	font-weight: bold;
	color: white;
	text-decoration: none;
}


.msg{
	position: relative;
	text-align: left;
	word-wrap: break-word;
	overflow: auto;
	margin: 20px 0px 20px 5px;
	padding: 25px 25px;
	background-color: rgba(149, 165, 166,0.5);
	border: 1.5px solid rgb(3, 33, 2);
	border-radius: 10px;
	box-shadow: inset 0px 0px 50px rgb(3, 33, 2);
	z-index: -1;
}

.msg img{
	width: 90%;
	height: auto;
}

.msgGM{
	background-color: rgba(148, 158, 148,0.3);
	box-shadow: inset 0px 0px 50px rgb(33,18,2);
	grid-column: 1/3;
	margin-left: calc(5 * 1vw);
}

.confirm{
	position: absolute;
	right: 0px;
	top: 0px;
	text-decoration: none;
	color: lightgreen;
	padding: 2px;
	border-radius: 2px;
}

.userInfo{
	position: fixed;
	width: 8vw;
	background-color: rgba(200,200,200,0.2);
	box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.4);
	min-width: max-content;	
	padding: 10px;
	top: 250px;
	right: 13%;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
}

.logoBox{
	display: inline-block;
	position: relative;
}

.infoPerso{
	position: absolute;
	right: 28px;
	top : 18px;
	width: 200px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	background-color: lightgrey;
	z-index: 100;
}

#mytextarea{
	width: 90%;
	min-height: 100px;
}

#tinymceContainer{
	margin: 30px;
	z-index: -1;
}


/*---MEDIA QUERIES---*/
@media (max-width: 760px){



	.mainGrid{
		grid-template-columns: 1fr;
	}

	#sectionGrid{
		display: initial;
	}

	.choixAventure{
		margin: 40px auto;
	}

	.msgInfo{
		display: none;
	}
	.userInfo{
		display: none;
	}

	.mobileInfo{
		display: block;
		position: relative;
		margin:  15px 15px 0 15px;
		padding: 10px 0 10px 0;
		background-color: rgba(91, 91, 91, 0.5);
		text-align: center;
		border: 1.5px solid black;
		border-bottom: none;
		border-radius: 5px;
		box-shadow: 0px 0px 50px black;
		color: black;
	}

	.msg{
		margin: 0 15px 30px 15px;
	}