/*---------GENERAL---------*/

	body{
		margin: 0;
		background-image: url("../img/fondcadre.png"), url("../img/fondvert.png");
		background-size: 100%, 100%;
		background-position: left calc(145px - 11vw);
	}

	h1{
		width: 60%;
		margin: 70px auto 40px auto;
		padding: 10px;
		font-size: 1.8em;
		color: grey;
		background-color: rgba(50, 50, 50, 0.8);
		border-radius: 5px;
	}

	#erreur{
		width: 400px;
		padding: 10px;
		margin: 0 auto 20px auto;
		color: lightgrey;
		border : 1px solid black;
		background-color: rgba(38, 0, 0, 0.3)
	}

/*---------STRUCTURE---------*/

	.mainGrid{
		display: grid;
		grid-template-columns: 1fr 80% 1fr;
		grid-template-rows: 150px 1fr 80px;
		grid-template-areas: 
		"head head head"
		". section ."
		". foot .";
	}

	.headerGrid{
		display: grid;
		grid-template-columns:  60% 40%;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
		"brand connect"
		"nav nav"
		;
	}

/*---------CONTENU---------*/

/*HEADER*/

	header{
		grid-area: head;
		background-color: rgba(50, 50, 50, 0.6);
		border-bottom: 3px solid black;
		z-index: 20;
	}

	#branding{
		grid-area: brand;
	}

	#branding img{
		width: 400px;
		height: 100px;
		margin-top: 20px;
		margin-left: calc(5*1vw);
	}

	#navDesktop{
		grid-area: nav;
		margin: auto auto 5px auto;
		text-align: center;
	}

	#navDesktop a{
		font-size: 1.3em;
		margin: 1vw;

	}

	#navDesktop a{
		color: grey;
		text-decoration: none;
	}

	.currentNav{
		border-bottom: 1px solid grey;
	}

	#navDesktop a:hover{
		color : #dcdde1;
	}

	#connectionDesktop{
		grid-area: connect;
		position: relative;
		margin: 20px calc(3*5vw) auto auto;
		text-align:center;
		padding: 6px;
		width: 270px;
		background-color: #4e5556;
		box-shadow: 0 0 10px black;
	}

	#connecterrorDesktop{
		grid-area: connect;
		position: relative;
		margin: 20px calc(3*5vw) auto auto;
		text-align:center;
		padding: 6px;
		width: 270px;
		background-color: #4e5556;
		box-shadow: 0 0 10px black;
	}

	#connecterrorDesktop a{
		color: lightgrey;
	}

	#connectedDesktop{
		grid-area: connect;
		position: relative;
		margin: 20px calc(3*5vw) auto auto;
		text-align:center;
		padding: 10px;
		width: 270px;
		background-color: #4e5556;
		box-shadow: 0 0 10px black;
	}

	#connectedDesktop a{
		color: lightgrey;
		font-weight: bold;
		line-height: 1.8em;
	}

	#connectedDesktop a[href="deconnect.php"]{
		color: grey;
	}

	#connectedDesktop a[href="creaperso.php"]{
		font-weight: initial;
	}

	#connectionDesktop input{
		text-align: center;
		display: block;
		margin: 2px;
		width: 95%;
	}

	#connectionDesktop input[type="submit"]{
		width: 96.8%;
		border: 0;
	}

	#subscribe{
		position: absolute;
		right: -87px;
		top: 23px;
		padding: 5px 10px 5px 50px;
		border: 1px solid black;
		box-shadow: 0 0 10px black;
		border-radius: 50px;
		background-color: #4e5556;
		z-index: -10;
	}
	#subscribe a{
		color: lightgrey;
		text-decoration: none;
	}

/*SECTION*/

	section{
		grid-area: section;
		background-color: rgba(149, 165, 166,0.6);
		box-shadow: 0 0 20px black;
		min-height: 200px;
		z-index: 10;
		margin-top: 8px;
		padding: 20px 5px 80px 5px;
	}


/*FOOTER*/

	footer{
		grid-area: foot;
		margin-bottom: 30px;
		background-color: rgba(127, 140, 141,0.8);
		box-shadow: 0 0 20px black;
		z-index: 10;
	}

	footer div{
		text-align: center;
		font-size: 0.8em;
		font-style: italic;
		margin: auto; /*pourquoi le margin auto ne centre pas tout ?*/
		margin-top: 20px;
	}

/*TOGGLE MDE*/

	#connectionMobile{display: none;}
	#connectedMobile{display: none;}
	#navMobile{display: none;}

/*---------MEDIA QUERIES---------*/

	@media (max-width: 760px){
		/*GENERAL*/

			body{
				background-image: url("../img/fondvert.png")
			}

			h1{
				width: 90%;
			}


		/*STRUCTURE*/

			.mainGrid{
				grid-template-rows: 250px 1fr 80px;
				grid-template-areas: 
				"head head head"
				"section section section"
				"foot foot foot"
			}

			.headerGrid{
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 50px 80px;
				grid-template-areas:
				"brand brand"
				"connect connect"
				"nav nav";
			}

			.navMobileGrid{
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				grid-template-areas: 
				"nav1 nav2"
				"nav3 nav4"
				;
				grid-gap: 0;
			}

		/*HEADER*/

			header{
				border: none;
			}

			#branding{
				width: 100%;
				margin: auto;
				text-align: center;
			}

			#branding img{
				width: 90%;
				margin : auto;
			}


			#connectionMobile{
				display: initial;
				grid-area: connect;
				font-size: 1.5em;
				background-color: #7f8c8d;
				text-align: center;
				line-height: 50px;
				box-shadow: inset -1px 0 0 black;
			}

			#connectedMobile{
				display: initial;
				grid-area: connect;
				font-size: 1em;
				background-color: #7f8c8d;
				text-align: center;
				line-height: 50px;
				box-shadow: inset -1px 0 0 black;
			}

			#connectedPseudoBox{
				display: inline;
				padding: 7px 13px;
				margin: 1px 10px 1px 0;
				background-color: #4e5556;
				border-radius: 3px;
			}

			#connectedMobile a{
				color: lightgrey;
				font-weight: bold;
				line-height: 1.8em;
			}

			#connectedMobile a[href="deconnect.php"]{
				color: darkgrey;
			}

			#connectedMobile a[href="creaperso.php"]{
				font-weight: initial;
			}


			#navMobile{
				display: grid;
				grid-area: nav;
				font-weight: bold;
				width: 100%;
				height: 100%;
				border-top: 2px solid black;
				border-bottom: 2px solid black;
			}
			#navMobile div{
				background-color: #383838;
				width: 100%;
				height: 100%;
				text-align: center;
				line-height: 40px;
				color: rgba(127, 140, 141,1.0);
			}

			#navMobile1{
				grid-area: nav1;
				margin:auto;
				box-shadow: inset -1px -1px 0 black;
			}
			#navMobile2{
				grid-area: nav2;
				margin:auto;
				box-shadow: inset 1px -1px 0 black;
			}
			#navMobile3{
				grid-area: nav3;
				margin:auto;
				box-shadow: inset -1px 1px 0 black;
			}
			#navMobile4{
				grid-area: nav4;
				margin:auto;
				box-shadow: inset 1px 1px 0 black;
			}

		/*SECTION*/

			section{
				margin-top: 0;
			}

		/*TOGGLE MDE*/

			#connectionDesktop{display: none;}
			#connectedDesktop{display: none;}
			#navDesktop{display: none;}
	}





/*---------------Pour une navigation déroulante sans flèche...---------------
select 
{
  -moz-appearance: none;
  -webkit-appearance: none;
}
*/